:root {
  --color-first: oklch(35.616% 0.16494 321.332);
  --color-second: oklch(57.582% 0.22684 348.883);
  --color-third: oklch(59.511% 0.24243 320.119);
  --color-accent: oklch(26.826% 0.1459 284.5);
}

body {
 /* Set line height to 1.5 times the font size
    and use the OS’s UI font as the website font
  */
 font: 100%/1.5 system-ui;
 max-width: 100ch;
 margin-inline: auto;
 padding: 10px;
 color: var(--color-first);
 accent-color: var(--color-accent);
}

nav {
  display: flex;
  margin-bottom: 10px;
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  border-bottom: 1px solid oklch(80% 3% 200);
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.2em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
  padding-bottom: 0.2em;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

input, textarea, button {
  font: inherit;
}

/* label, button {
  display: block;
  margin-block: 10px 10px;
} */

/* input, textarea, button {
  font: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
} */

img {
  max-width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1.5em;
}

.projects article {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
}

.projects article h2 {
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    text-wrap: balance;
}

.resume-written {
  display: grid;
}

.resume-written h3 {
  color: var(--color-second);
}

.resume-written time {
  color: var(--color-third);
}